
<!DOCTYPE html>
{% extends "Homeapp/index.html" %}
{% block body_block %}


        <div class="col-6">
            <h1> Add Work</h1>
                <form method="post">
                    {% csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="Add Work">

                </form>
            </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-12"><hr>
            <table class="table">
                <thead class="thead-dark">
                <th>WORK</th>
                <th>AMOUNT</th>
                <th>LOCATION</th>
                <th>STATUS</th>
                </thead>
                {% if work %}
                {% for works in work %}

                <tr>
                    <td>{{ works.workname }}</td>
                    <td>{{works.estimatedamount}}</td>
                    <td>{{works.location}}</td>
                    <td>{{works.workstatus}}</td>
                    <td><a href="{%url 'viewresponse' works.id%}">View Responses</a></td>
                    <td><a href="{% url 'editwork' works.id%}">Edit</a></td>
                    <td> <a href="{% url 'deletework' works.id%}">Delete</a></td>

                </tr>
                   {%endfor%}
                {% else %}
                    <p>no works posted</p>
            {% endif%}

            </table>



        </div>
        <div class="col">
        </div>
    </div>
</div>


    {% endblock %}