<!DOCTYPE html>
{% extends "Homeapp/index.html" %}
{% block body_block %}
<div class="col-6">
            <h1>USER ADD SKILL</h1>
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="ADD SKILL">

             </form><br>
                <p>User Can Add Only One Skill</p>
            <hr>
            {% for skill in skills %}
            {{skill.userskill}}
            {{skill.location}}
            {% endfor%}
</div>

{% endblock %}